In [1]:
import sqlalchemy
import pandas as pd
import os
import pymysql
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [2]:
# conectar no mysql com sqlalchemy
server = 'localhost'
database = 'processo_rio'
username = 'root'
password = input("Digite a senha do mysql: ")
driver = 'mysql+pymysql'
connection_string = f'{driver}://{username}:{password}@{server}/{database}'
engine = sqlalchemy.create_engine(connection_string)
insp = inspect(engine)

In [5]:
# criar tabela no banco process_rio
df = pd.read_csv('G:\\Outros computadores\\acer\\gits\\ptec009_automacao_indicadores_processorio\\dados_originais\\scripst_sql\\db_documentos_2.csv')
df

,SEMANA,NOME_ORGAO,ESPECIE,UPPER(MODELO),UPPER(ASSUNTO),TOTAL_DOC
0,23/10/22,GM-RIO,Expediente,DESPACHO,ABASTECIMENTO E MANUTENÇÃO DE VEÍCULOS,1
1,23/10/22,GM-RIO,Expediente,DESPACHO,ABASTECIMENTO E MANUTENÇÃO DE VEÍCULOS,1
2,23/10/22,GM-RIO,Expediente,DESPACHO,ABASTECIMENTO E MANUTENÇÃO DE VEÍCULOS,1
3,23/10/22,SME,Expediente,DESPACHO,SISTEMA DESCENTRALIZADO DE PAGAMENTO,1
4,23/10/22,SMS,Expediente,DESPACHO,RELAÇÃO INTERINSTITUCIONAL. SOLICITAÇÃO/DENÚNC...,1
...,...,...,...,...,...,...
1162537,19/01/21,SMFP,Expediente,DESPACHO,CRÉDITO SUPLEMENTAR,1
1162538,19/01/21,SMFP,Expediente,DESPACHO,CRÉDITO SUPLEMENTAR,1
1162539,19/01/21,SMFP,Expediente,DESPACHO,CRÉDITO SUPLEMENTAR,1
1162540,06/01/21,SMFP,Expediente,DESPACHO,CRÉDITO SUPLEMENTAR,1
1162541,06/01/21,SMFP,Expediente,DESPACHO,CRÉDITO SUPLEMENTAR,1

In [6]:
# criar tabela com df no banco
df.to_sql('db_documentos_2', con=engine, if_exists='replace', index=False)

1162542

In [3]:
# verificar se a tabela foi criada
insp.get_table_names()

['assuntos',
 'assuntos_pgm',
 'base',
 'base_testes',
 'codigo_sicop',
 'db_documentos_2',
 'expedientes_arqs2296',
 'processos_arqs2001',
 'sici']